.v-application--is-ltr {
  #main-sidebar {
    position: fixed !important;

    .v-list .v-list-item--active {
      color: $primary;
    }

    .v-list-item__title {
      white-space: normal;
    }

    .v-list-item__icon {
      margin: 12px 0;
    }
    .v-list-item__icon:first-child {
      margin-right: 15px;
    }

    &.v-navigation-drawer--mini-variant .v-list-item > *:first-child {
      margin-right: 0px;
    }

    .v-list-group--sub-group {
      .v-list-group__items > .v-list-item {
        padding-left: 16px;
      }
      .v-list-group__header__prepend-icon {
        order: 2;
        margin-right: 0px;
      }
    }
  }
}
